@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background-color: #333974;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    margin-right: 8px;
}

button:hover {
    opacity: 1;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    width: 100%;
}

select {
    background-color: rgb(231, 231, 231);
    border: 1px solid #c4c4c4;

}

.inputa {
    padding: 5px;
}